body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    border: 1px solid black;
    width: 600px;
    padding: 10px;
}

.foto {
    margin-right: 20px;
}

.foto img {
    margin-right: 150px;
    height: auto;
    border: 1px solid #000;
}